<launch>
  <!-- Robot pose -->
  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="z" default="0"/>
  <arg name="roll" default="0"/>
  <arg name="pitch" default="0"/>
  <arg name="yaw" default="0"/>

  <arg name="multi_robot_name" default=""/>

  <include file="$(find shipbot_bringup)/launch/shipbot_remote.launch">
    <arg name="multi_robot_name" value="$(arg multi_robot_name)"/>
  </include>

  <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher">
    <param name="use_gui" value="true"/>
    <param name="rate" value="50"/>
  </node>

  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" 
    args="-urdf -param robot_description -model shipbot 
          -x $(arg x) -y $(arg y) -z $(arg z)
          -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)"/>

  <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find shipbot_description)/rviz/shipbot.rviz"/> -->
</launch>
