<launch>
  <arg name="frame_id" default="base_scan"/>
  <arg name="inverted" default="false"/>
  <arg name="port" default="/dev/ttyUSB0"/>
  <arg name="angle_min" default="-85"/>
  <arg name="angle_max" default="85"/>
  <arg name="range_min" default="0.1"/>
  <arg name="range_max" default="2.0"/>
  <arg name="baudrate" default="115200"/>
  <arg name="sample_rate" default="3"/>
  <arg name="reversion" value="true"/>
  <arg name="frequency" value="10.0"/>
  <!-- <arg name="lds_model" default="$(env LDS_MODEL)" doc="LDS MODEL [LDS-01, LDS-02]"/>

  <group if = "$(eval lds_model == 'LDS-01')">
    <node pkg="hls_lfcd_lds_driver" type="hlds_laser_publisher" name="turtlebot3_lds" output="screen">
      <param name="port" value="/dev/ttyUSB0"/>
      <param name="frame_id" value="$(arg set_frame_id)"/>
    </node>
  </group>
  <group if = "$(eval lds_model == 'LDS-02')">
    <node pkg="ld08_driver" type="ld08_driver" name="turtlebot3_lds" output="screen" args="LD08">
      <param name="frame_id" value="$(arg set_frame_id)"/>
    </node>
  </group> -->
  <include file="$(find ydlidar_ros_driver)/launch/X2.launch">
    <arg name="frame_id" value="$(arg frame_id)"/>
    <arg name="inverted" value="$(arg inverted)"/>
    <arg name="port" value="$(arg port)"/>
    <arg name="angle_min" value="$(arg angle_min)"/>
    <arg name="angle_max" value="$(arg angle_max)"/>
    <arg name="range_min" value="$(arg range_min)"/>
    <arg name="range_max" value="$(arg range_max)"/>
    <arg name="baudrate" value="$(arg baudrate)"/>
    <arg name="sample_rate" value="$(arg sample_rate)"/>
    <arg name="reversion" value="$(arg reversion)"/>
    <arg name="frequency" value="$(arg frequency)"/>
  </include>
</launch>
